
/* In order to make a specific STYLE and to NAME IT, just use this convention: '.name ' then {

} */
.centered-text { 
    display: flex;
    justify-content: center;
    font-size: 55px;
    /* font-family: 'Pacifico', cursive */
  } 
  
  .cent-text { 
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-bottom: 15px;
    margin-top: -30px;
  } 
  
  .update-text{
    display: flex;
    justify-content: center;
    margin-top: -75px;
    text-decoration: underline;
    text-underline-position: under;
  }
  
  
  .tabs-container {
    display: flex;
    justify-content: center;
  }
  
  .tabs {
    outline: none;
    list-style-type: none;
    padding: 20px;
    font-size: 50px;
    text-decoration: none;
  }
  
  .tabs:hover {
    background-color: #f8f8f84b;
    cursor: pointer;
  
  }
  
  
  .tab-link {
    color: rgb(0, 0, 0); 
    text-decoration: none; 
  }
  
  .home-font{
    font-family: 'Pacifico', cursive;
    font-weight: 100;
  }
  
  .my-font {
    font-family: 'Pacifico', cursive;
    font-weight: 100;
    height: 20vh;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-underline-position: under;
  }
  
  
  
  
  .tab-link:hover {
    text-decoration: none; 
  }
  
  
  .standard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  .special-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
  }
  
  
  body.home {
    background-image: url("../images/vecteezy_seamless-background-with-brown-ice-cream-cones-pattern_7267228.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  body.standard {
    background-image: url("../images/vecteezy_waffle-vector-background-vector-illustration_17201876.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  body.special {
    background-image: url("../images/vecteezy_waffle-vector-background-vector-illustration_17201874.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  